body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    padding: 10% 20%;
    gap: 5%;
    background-image: url(Imagem-Site/Vela-1.jpg );
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    background-color: aqua;  
    box-shadow: 1px 1px 4px;
    padding: 0 10%;
}

.navegador{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
}

.navegador a{
    text-decoration: none;
    transition: 1s;
    font-weight: bold;
}

.navegador a:hover{
    box-shadow: inset;
}

.logo{
    justify-self: center;
}